ul{list-style:none;}
ul li{display:inline-block;}
.header_text{padding-left: 2%;}
.clear{clear:both}
.size{font-size: 20px; color:white}
.Link{color:white}
.Link:hover{ cursor: pointer;color: orange;}

.sidenav {
  height: 45%; /* Full-height: remove this if you want "auto" height */
  width: 20%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  overflow: hidden; /* Disable horizontal scroll */
  padding-top: 4%;
}

@media screen and  (max-width:454px)
{ a{color: white;}
.header {
    padding: 2% 3% 4% 0%;
    color: #f1f1f1;
    text-align: right;
  }
  .header_text{padding-left: 4%;}
.main_img{background-size: cover;background-image: url('../images/dice.jpg'); background-position: center  ;background-attachment: fixed;background-repeat: no-repeat;height: 625px;}
.name{text-align: center;font-size:30px ;padding-top:135px;position: static; color: antiquewhite;font-weight: bold;}    
.name span{color: orange;}
.main_img p{color:white ; text-align:center;font-size:15p ;padding:0 2% 0 2% }
.social_links{text-align: center;padding-top:1% ;}
.logo_link {padding: 0 2% 0 2% ;}
.image{text-align: center;padding-top: 6%;}

.contact_image{
  border-radius: 50%;
  border:1px rgb(245, 177, 51);
  height: 200px;
  width: 200px;
}
.details{ padding-top:5%;text-align: center;color: white; float: center; padding-bottom: 2%;}
.details p{line-height:15px ;padding:0 2% 0 2%;}
.details p span{color: orange;font-size:20px ;}

.about_head{ line-height:25px ;padding-top: 2%;}
.about_head h6{font-size: 20px;color: grey; text-align: center;}
.about_head span{color: orange;font-size: 30px;}

 
.about_text{padding-top:6%; color: white;padding-left: 2%;}
.about_text h2{font-weight: bold;} 
.about_text h4{color: orange;line-height:30px ;}
.about_text h6{padding-right: 3%;}

}

@media screen and (min-width:455px) and (max-width:759px)
{
  body{overflow-x: hidden;}
.header {
    padding: 2% 3% 4% 0%;
    color: #f1f1f1;
    text-align: center;
  }
  .header_text{padding-left: 4%;}
.main_img{background-size: cover;background-image: url('../images/dice.jpg'); background-position: center  ;background-attachment: fixed;background-repeat: no-repeat;height: 625px;}
.name{text-align: center;font-size:40px ;padding-top:135px;position: static; color: antiquewhite;font-weight: bold;}    
.name span{color: orange;}
.main_img p{color:white ; text-align:center;font-size:15p ;padding:0 2% 0 2% }
.social_links{text-align: center;padding-top:1% ;}
.social_links ul{text-align: center;}
.logo_link {padding:0 2% 0 2% ;}
.image{text-align: center;padding-top: 5%;}

.contact_image{
  border-radius: 50%;
  border:1px rgb(245, 177, 51);
  height: 200px;
  width: 200px;
}
.details{ padding-top:4%;text-align: center;color: white; float: center;}
.details p{line-height:15px ;}
.details p span{color: orange;font-size:30px ;}

.about_head{ line-height:25px ;padding-top: 2%;}
.about_head h6{font-size: 20px;color: grey; text-align: center;}
.about_head span{color: orange;font-size: 50px;}

.about_text{float:right;padding-top:6%; color: white ;text-align: center;}
.about_text h2{font-weight: bold;padding-left: 2%;} 
.about_text h4{color: orange;line-height:25px ;padding-left: 2%;}
.about_text h6{padding-right: 2%;padding-left: 2%;}


}

@media screen and (min-width:760px) and (max-width:1299px)
{
 body{overflow: hidden;} 
.header {
    padding: 2% 3% 4% 0%;
    color: #f1f1f1;
    text-align: right;
  }
  
.main_img{background-size: cover;background-image: url('../images/dice.jpg'); background-position: center  ;background-attachment: fixed;background-repeat: no-repeat;height: 625px;}
.name{text-align: center;font-size:40px ;padding-top:135px;position: static; color: antiquewhite;font-weight: bold;}    
.name span{color: orange;}
.main_img p{color:white ; text-align:center;font-size:18px ;padding:0 2% 0 2%; }
.social_links{text-align: center;padding-top:1% ;}
.logo_link {padding:0 2% 0 2% ; }
.image{text-align: center;padding-top: 2%;}

.contact_image{
  border-radius: 50%;
  border:1px rgb(245, 177, 51);
  height: 200px;
  width: 200px;
}
.details{ padding-top:3%;text-align: center;color: white; float: center;}
.details p{line-height:15px ;}
.details p span{color: orange;font-size:35px ;}

.about_head{ line-height:25px ;}
.about_head h6{font-size: 20px;color: grey; text-align: center;}
.about_head span{color: orange;font-size: 50px;}

.about_text{float:right;padding-top:7%; color: white;}
.about_text h2{font-weight: bold;} 
.about_text h4{color: orange;line-height:40px ;}
.about_text h6{padding-right: 3%;}

}



@media screen and (min-width:1300px) 
{
  body{overflow-x: hidden;
       overflow-y: hidden;}

.header {
    padding: 2% 3% 4% 0%;
    color: #f1f1f1;
    text-align: right;
  }

.main_img{background-size: cover;background-image: url('../images/dice.jpg'); background-position: center  ;background-attachment: fixed;background-repeat: no-repeat;height: 625px;}
.name{text-align: center;font-size:50px ;padding-top:135px;position: static; color: antiquewhite;font-weight: bold;}    
.name span{color: orange;}
.main_img p{color:white ; text-align:center;font-size:20px  ; }
.social_links{text-align: center;padding-top:1% ;}
.logo_link {padding:0 2% 0 2% ; }
.image{text-align: center;padding-top: 2%;}

.contact_image{
  border-radius: 50%;
  border:1px rgb(245, 177, 51);
  height: 200px;
  width: 200px;
}
.details{ padding-top:1%;text-align: center;color: white; float: center;}
.details p{line-height:15px ;}
.details p span{color: orange;font-size:40px ;}

.about_head{ line-height:25px ;}
.about_head h6{font-size: 20px;color: grey; text-align: center;}
.about_head span{color: orange;font-size: 50px;}

.about_text{float:right;padding-top:5%; color: white;}
.about_text h2{font-weight: bold;} 
.about_text h4{color: orange;line-height:40px ;}
.about_text h6{padding-right: 3%;}

}
